@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
}

h1, h2 {
    font-family: 'Bebas Neue';
}

.replays, body {
    background-color: #f6f0c6;
}

img {
    padding-top: 20px;
    width: 100%;
    opacity: 0.4;
}

.container {
    text-align: center;
}

.link {
    font-family:'Bebas Neue';
    font-size: large;
    padding: 14px;
}

.text {
    font-family:'Bebas Neue';
}