<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Player search</title>
    <a href = "/">Go back.</a>
</head>
    <a>Search for a player!</a>
        <form action="/search_submit" method="post">
            <label for="name">Enter a player name: </label>
            <input type="text" name="name" required>
                <div class="submit">
            <input type="submit" value="Search">
                </div>
        </form>
</html>