<!-- landing html for app -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/style.css">
	<title>Ball Chasing</title>
</head>

<div class="container">
	<h1>Rocket league replay finder!</h1>
	<p>A simple app that searchs the Ballchasing.com api for replays, based on request.</p>
		<a class="link" href = "/replays">Request normal replays</a>
		<a class="link" href = "/request_pro">View pro replays</a>
		<a class="link" href = "/player_search">Search for replays by player</a>
		<img class="img" src="/static/coverart.jpg" />
</div>
</html>